body{
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  font-size: 18px;
  background-color: #5bcc7d;
  margin: 0 auto;
  padding: 0 auto;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 15px;
    }


.section {
  display: flex;
  flex-wrap: wrap;
  max-width: 1260px;
  padding: 0;
  margin: 0 auto;
  border: 5px black dashed;
  /* width: calc(25% - 30px);  для адаптива без @media */
  }

.section:last-child{
  border: none;
  min-width: 300px;
}


.sectionSumm {
  margin-top: 25px;
  padding-bottom: 20px;
  flex-direction: column;
  min-width: 1020px;
  }

@media (max-width:1300px){
  .sectionSumm {
    min-width: 970px;
  }
}

@media (max-width:992px){
  .sectionSumm {
    min-width: 728px;
  }
}

@media (max-width:767px){
  .sectionSumm {
    min-width: 0;
  }
}

/* first block media */
  @media (max-width: 1300px) {
    .section {
      max-width: 970px;
    }
  }

  @media (max-width: 992px) {
    .section {
      max-width: 750px;
    }
  }
  @media (max-width: 767px) {
    .section {
      max-width: none;
    }
  }


.count {
  text-align: center;
  }

.nameOfComun{
text-align: center;
font-style: italic;
margin-bottom: auto;
}

.submitComun{
  margin: 0 auto;
  padding: 0 20px;
  }


.inputBlock {
  padding: 8px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
}

.inputBlockSubmAll{
  text-align: center;
  font-weight: 700;
  }

.inputName {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  padding: 10px 0;
  text-align: center;
  font-weight: 700;
}

.inputNameLast{
  font-size: 28px;
}

.buttonSubmit {
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: rgb(212,75,56); /* фон кнопки */
  padding: .7em 1.5em; /* отступ от текста */
  outline: none;
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0 auto; /* Планы: посчитать правильно margin через calc*/
  line-height: 2;
  font-size: 16px;
  font-weight: 700;
  color: black;
  border-radius: 10px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.6);
  transition: background-color 100ms, box-shadow 100ms;
  display: block;
}

.buttonSubmit:hover { background: rgb(232,95,76); }
.buttonSubmit:active { background: rgb(152,15,0); }



.buttonBack {
  margin: 35px auto;
  padding: 6px 20px;
  letter-spacing: 1px;
  line-height: 32px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 24px;
  }

.buttonSubmit:focus,
.buttonSubmit:hover {
box-shadow: 0 4px 32px rgba(0, 0, 0, 0.8);
}

.buttonSubmit:active {
  box-shadow: none;
}